<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    <ul>
        {% for item in items %}
        <li>
            {{ item.cantidad }} x {{ item.producto.nombre_prod }} - ${{ item.producto.precio }} cada uno
            <form method="post" action="{% url 'adepac:remove_from_carrito' %}">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <button type="submit">Eliminar uno</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <h2>Total: ${{ total }}</h2>
</body>
</html>
